---
title: Mangrove - A new way of working is possible
---

<div class="mainpage">

  <!-- BRANDING POSSIBLE -->
  <div class="col-xs-12 text-center padded" id="brandingpossible">
      <h1>It's possible.</h1>
      <div id="tagline">
        <p>
          Mangrove develops a new way of working based on collaboration and fulfillment.
        </p>
      </div>
  </div>

  <!-- 3 POINTS -->
  <div class="col-xs-12 text-center padded" id="threepoints">
    <div class="onepoint rightpoint row">
      <div class="col-xs-12 col-sm-6">
        <%= image_tag "davide_working_mangrove.jpg" %>
      </div>
      <div class="col-xs-12 col-sm-6 home-text-box">
        <div class="point-title wow fadein20"><h2>Work differently</h2></div>
        <div class="point-text wow fadein20">Mangrove was founded on common values: Freedom, Goodwill and Transparency. These values are the roots of our community. They feed our culture, our projects and our agile structure. <br>
Unlike most companies, we collaborate remotely and without hierarchy. Such decentralization is enabled by new processes & technology: we build our own tools to maximize transparency and task-automatization across the ecosystem. </div>
        <% link_to "roots.html" do %>
          <div class="point-cta btn btn-info wow fadein20">Read our manifesto</div>
        <% end %>
      </div>
    </div>
    <div class="onepoint leftpoint row">
      <div class="col-xs-12 col-sm-6 col-sm-push-6">
        <%= image_tag "nighttalk.jpg" %>
      </div>
      <div class="col-xs-12 col-sm-6 col-sm-pull-6 home-text-box">
        <div class="point-title wow fadein20"><h2>Live more</h2></div>
        <div class="point-text wow fadein20">Most of us divide their week between freelance missions for startups or corporates, new projects for fun or profit, and involvement in social and artistic activities. <br>
The Mangrove community works from multiple places and continents. We meet physically at our hubs in Paris and San Francisco, and often go on retreats together to get inspired in surreal workplaces.
See more about our projects & lifestyle.</div>
     <% link_to "https://www.youtube.com/watch?v=3OVhSbP7KZI" do %>
          <div class="point-cta btn btn-info wow fadein20">Watch our last retreat video</div>
        <% end %>
      </div>
    </div>
    <div class="onepoint rightpoint row">
      <div class="col-xs-12 col-sm-6">
        <%= image_tag "mangroveineuzet.jpg"%>
      </div>
      <div class="col-xs-12 col-sm-6 home-text-box">
        <div class="point-title wow fadein20"><h2>Grow faster</h2></div>
        <div class="point-text wow fadein20">Mangrove empowers its members through intensive collaboration & mutual support within an ecosystem ruled by goodwill. Everyday, we help each other increase their skillset, accelerate their projects and realize themselves. Regular peer-to-peer learning bootcamps and mentorship sessions also enable us to fuel our desire to grow.
</div>
        <% link_to "https://mangrove.typeform.com/to/uxvnIV" do %>
          <div class="point-cta btn btn-info wow fadein20">Join the community</div>
        <% end %>
      </div>
    </div>
  </div>


<!-- typeform script -->

<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()
</script>

<script>
new WOW().init();
</script>
